<div id="mobile-menu">
    <div class="header">
        <a href="/">
            <img src="@StoreSettings["Logo"]" height="37" width="141" alt="@StoreSettings["Name"]" loading="lazy" />
        </a>

        <button class="close no-style" @onclick=Close>
            <i class="close__icon fa-solid fa-plus"></i>
        </button>
    </div>

    <nav class="body">
        <ul class="menu no-style">
            <li class="menu__item">
                <a class="menu__link" href="@Projects.Url">@ProjectsText["HeadingTitle"]</a>
            </li>
            @*<li class="menu__item">
                <a class="menu__link" href="@Catalog.Url">@CatalogText["HeadingTitle"]</a>
            </li>*@
            <li class="menu__item">
                <a class="menu__link" href="@Help.Url">@HelpText["HeadingTitle"]</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="@Company.Url">@CompanyText["HeadingTitle"]</a>
            </li>
            <li class="menu__item">
                <a class="menu__link" href="@Contacts.Url">@ContactsText["HeadingTitle"]</a>
            </li>
        </ul>
    </nav>

    <div class="footer">
        <Address />
        <Social />
    </div>
</div>

<div id="mobile-menu-overlay" class="overlay" @onclick=Close></div>
