@inherits LayoutComponentBase

<PageTitle>Store</PageTitle>

<div class="side">
    <header>
        <img class="logo" src="/images/logo.svg" alt="Store" />

        <ul class="menu no-default">
            @foreach (var item in menu)
            {
                <li class="menu__item">
                    <a class="menu__link" href="@item.Uri">@item.Name</a>
                </li>
            }
        </ul>
    </header>

    <footer>
        <ul class="app-distributors">
        </ul>

        <ul class="social no-default">
            @foreach (var item in socials)
            {
                <li class="social__item">
                    <a class="social__link" href="@item.Uri" target="_blank" title="@item.Name">
                        <img class="social__icon" src="@item.Icon" alt="@item.Name" />
                    </a>
                </li>
            }
        </ul>
    </footer>
</div>

<main>
    <article>
        @Body
    </article>
</main>

<style>
    * {
        --menu-width: 400px;
    }

    footer {
        padding: 0 15%;
    }

    .logo {
        padding: 0 15%;
    }

    article {
        display: flex;
        height: 100vh;
        align-items: center;
    }

    main {
        width: calc(100% - var(--menu-width));
        float: right;
    background: url(images/background.png);
    background-size: cover;
    min-width: 1;
    min-height: 100vh;
    }

    .side {
        position: fixed;
        height: 100vh;
        width: var(--menu-width);

        padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    ul.no-default {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .menu {
        font-size: 1.2rem;
        /*line-height: 60px;*/
    }

    .menu__item {
        margin: 10px 0
    }

    .menu__item:first-child {
        margin-top: 0;
    }

    .menu__item:last-child {
        margin-bottom: 0;
    }

    .menu__link {
        color: var(--main-theme-color);
        display: block;
        padding-left: 5.4rem;
        padding-right: 1.4rem;
        position: relative;
        text-decoration: none;
    }

    .menu__link:before{
        content: "";
        position: absolute;
        width: 94px;
        height: 3px;
        left: 5px;
        top: calc(50% - (3px / 2));
        background-color: #444343;

        opacity:0;
        visibility: hidden;
    }

    .menu__link:hover,
    .menu__link:active,
    .menu__link:focus {
        color: #797878;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .menu__link:hover:before,
    .menu__link:active:before,
    .menu__link:focus:before {
        opacity: 1;
        visibility: visible;
    }

    .menu__link_active {
        color: white;
    }

    .social {
        display: flex;
        justify-content: space-between;
    }

    .social__icon {
        height: 22px;
    }
</style>

@code {
    Link[] menu =
    {
        new Link("Компания", ""),
        new Link("Проекты", ""),
        new Link("Каталог", ""),
        new Link("Оплата", ""),
        new Link("Доставка", ""),
        new Link("Контакты", ""),
        new Link("Помощь", ""),
    };

    const string SocialIconsPath = "images/icons/socials/";

    Social[] socials =
    {
        new Social("ВКонтакте", "", SocialIconsPath + "vk.svg"),
        new Social("Одноклассники", "", SocialIconsPath + "ok.svg"),
        new Social("Телеграм", "", SocialIconsPath + "telegram.svg"),
        new Social("YouTube", "", SocialIconsPath + "youtube.svg"),
        new Social("RuTube", "", SocialIconsPath + "rutube.svg")
    };

    record Link(string Name, string Uri);
    record Social(string Name, string Uri, string Icon);
}
