<div class="teaser">
    <div class="container">
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1">
            <div class="col">
                <i class="fa-solid fa-compass-drafting"></i>
                <div class="text">
                    <p class="title"><strong>@Text["FirstTitle"]</strong></p>
                    <p class="description">@Text["FirstDescription"]</p>
                </div>
            </div>

            <div class="col">
                <i class="fa-solid fa-compass-drafting"></i>
                <div class="text">
                    <p class="title"><strong>@Text["SecondTitle"]</strong></p>
                    <p class="description">@Text["SecondDescription"]</p>
                </div>
            </div>

            <div class="col">
                <i class="fa-solid fa-compass-drafting"></i>
                <div class="text">
                    <p class="title"><strong>@Text["ThirdTitle"]</strong></p>
                    <p class="description">@Text["ThirdDescription"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
