<div class="teaser">
    <div class="container">
        <div class="teaser__items row row-cols-lg-3 row-cols-md-2 row-cols-1">
            <div class="teaser__item teaser-item col">
                <i class="teaser-item__icon fa-solid fa-compass-drafting"></i>
                <div class="teaser-item__text-wrapper">
                    <p class="teaser-item__title"><strong>@Text["FirstTitle"]</strong></p>
                    <p class="teaser-item__description">@Text["FirstDescription"]</p>
                </div>
            </div>

            <div class="teaser__item teaser-item col">
                <i class="teaser-item__icon fa-solid fa-hand-holding-heart"></i>
                <div class="teaser-item__text-wrapper">
                    <p class="teaser-item__title"><strong>@Text["SecondTitle"]</strong></p>
                    <p class="teaser-item__description">@Text["SecondDescription"]</p>
                </div>
            </div>

            <div class="teaser__item teaser-item col">
                <i class="teaser-item__icon fa-solid fa-helmet-safety"></i>
                <div class="teaser-item__text-wrapper">
                    <p class="teaser-item__title"><strong>@Text["ThirdTitle"]</strong></p>
                    <p class="teaser-item__description">@Text["ThirdDescription"]</p>
                </div>
            </div>
        </div>
    </div>
</div>
