<footer>
    <div class="container">
        <div class="body">
            <div>
                <nav class="first-row">
                    <ul class="menu">
                        <li>
                            <a href="@Projects.Url">@ProjectsText["HeadingTitle"]</a>
                        </li>
                        <li>
                            <a href="@Catalog.Url">@CatalogText["HeadingTitle"]</a>
                        </li>
                        <li>
                            <a href="@Help.Url">@HelpText["HeadingTitle"]</a>
                        </li>
                        <li>
                            <a href="@Company.Url">@CompanyText["HeadingTitle"]</a>
                        </li>
                        <li>
                            <a href="@Contacts.Url">@ContactsText["HeadingTitle"]</a>
                        </li>
                    </ul>
                </nav>

                <div class="second-row">
                    <button>
                        <i class="subscribe-icon fa-regular fa-paper-plane"></i>
                        <span>Подписаться на рассылку</span>
                    </button>

                    <Social />
                </div>
            </div>

            <Address WhiteText />
        </div>

        <div class="bottom">
            <small>@Copyright</small>
            <a href="@Policy.Url">@PolicyText["HeadingTitle"]</a>
            <PaymentMethods />
        </div>
    </div>
</footer>
