<footer>
    <div class="container">
        <div class="body">
            <div>
                <nav class="first-row">
                    <ul class="menu">
                        <li>
                            <a href="@Projects.Url">@ProjectsText["HeadingTitle"]</a>
                        </li>
                        <li>
                            <a href="@Help.Url">@HelpText["HeadingTitle"]</a>
                        </li>
                        <li>
                            <a href="@Company.Url">@CompanyText["HeadingTitle"]</a>
                        </li>
                        <li>
                            <a href="@Contacts.Url">@ContactsText["HeadingTitle"]</a>
                        </li>
                    </ul>
                </nav>

                <div class="second-row">
                    <Social DarkStyle />
                </div>
            </div>

            <Address LightStyle />
        </div>

        <div class="bottom">
            <small>@Copyright</small>
            <a href="@Policy.Url">@PolicyText["HeadingTitle"]</a>
            <PaymentMethods />
        </div>
    </div>
</footer>
