<ul class="payment no-style">
    <li>
        <img src="@($"{ImagesPath}/cash.svg")" height="20" width="20" loading="lazy" alt="@Text["Cash"]" />
    </li>
    <li>
        <img src="@($"{ImagesPath}/mastercard.svg")" height="16" width="24" loading="lazy" alt="@Text["Mastercard"]" />
    </li>
    <li>
        <img src="@($"{ImagesPath}/visa.svg")" height="10" width="32" loading="lazy" alt="@Text["Visa"]" />
    </li>
    <li>
        <img src="@($"{ImagesPath}/mir.svg")" height="10" width="36" loading="lazy" alt="@Text["Mir"]" />
    </li>
    <li>
        <img src="@($"{ImagesPath}/sberbank.svg")" height="20" width="20" loading="lazy" alt="@Text["Sberbank"]" />
    </li>
    <li>
        <img src="@($"{ImagesPath}/alfabank.svg")" height="20" width="14" loading="lazy" alt="@Text["Alfabank"]" />
    </li>
    <li>
        <img src="@($"{ImagesPath}/tinkoff.svg")" height="10" width="63" loading="lazy" alt="@Text["Tinkoff"]" />
    </li>
</ul>
