@page
@model CreateModel

<div class="header">
    <div class="float-end">
        <button type="submit" form="language" class="btn btn-primary" title="@Model.Localizer["Add"]">
            <i class="fa-solid fa-floppy-disk"></i>
        </button>

        <a href="@Model.PreviousPage" class="btn btn-light">
            <i class="fa-solid fa-reply"></i>
        </a>
    </div>

    <h1>@Model.SharedLocalizer["Heading title"]</h1>

    <ol class="breadcrumb">
        @foreach (var breadcrumb in Model.Breadcrumbs)
        {
            <li class="breadcrumb-item">
                @if (breadcrumb.Url is not null)
                {
                    <a href="@breadcrumb.Url">@breadcrumb.Name</a>
                }
                else
                {
                    @breadcrumb.Name
                }
            </li>
        }
    </ol>
</div>

<div class="card">
    <div class="card-header"><i class="fa-solid fa-pencil"></i> @Model.Localizer["Add"]</div>

    <div class="card-body">
        @await Html.PartialAsync("_Form", Model.Language)
    </div>
</div>
