@page "{id:int}"
@model CreateModel

<div class="header">
    <div class="float-end">
        <button type="submit" form="language" class="btn btn-primary" title="@Model.Localizer["Edit"]">
            <i class="fa-solid fa-floppy-disk"></i>
        </button>

        <a href="@Model.PreviousPage" class="btn btn-light">
            <i class="fa-solid fa-reply"></i>
        </a>
    </div>

    <h1>@Model.SharedLocalizer["Heading title"]</h1>
    
    <ol class="breadcrumb">
        @foreach (var breadcrumb in Model.Breadcrumbs)
        {
            <li class="breadcrumb-item">
                @if (breadcrumb.Url is not null)
                {
                    <a href="@breadcrumb.Url">@breadcrumb.Name</a>
                }
                else
                {
                    @breadcrumb.Name
                }
            </li>
        }
    </ol>
</div>

<div class="card">
    <div class="card-header"><i class="fa-solid fa-pencil"></i> @Model.Localizer["Edit"]</div>
    
    <div class="card-body">
        <form id="language" method="post">
            <div class="row mb-3">
                <label asp-for="Language.Name" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Language.Name" class="form-control" />
                    <span asp-validation-for="Language.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Language.Code" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Language.Code" class="form-control" />
                    <span asp-validation-for="Language.Code" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Language.SortOrder" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <input asp-for="Language.SortOrder" class="form-control" />
                    <span asp-validation-for="Language.SortOrder" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label asp-for="Language.Enabled" class="col-sm-2 col-form-label"></label>

                <div class="col-sm-10">
                    <div class="form-check form-switch">
                        <input asp-for="Language.Enabled" class="form-check-input" />
                        <span asp-validation-for="Language.Enabled" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
