@page
@model IndexModel

<div class="header">
    <div class="float-end">
        <a asp-page="Create" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>

    <h1>@Model.SharedLocalizer["Heading title"]</h1>

    <partial name="_Breadcrumbs" for="Breadcrumbs" />
</div>

<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col">
                            <input type="checkbox" />
                        </th>

                        <th scope="col">@Html.DisplayNameForInnerType((LanguageView l) => l.Name)</th>
                        <th scope="col">@Html.DisplayNameForInnerType((LanguageView l) => l.Code)</th>
                        <th scope="col">@Html.DisplayNameForInnerType((LanguageView l) => l.SortOrder)</th>
                        <th scope="col">@Html.DisplayNameForInnerType((LanguageView l) => l.Enabled)</th>
                        <th scope="col">@Model.SharedLocalizer["Action"]</th>
                    </tr>
                </thead>

                <tbody>
                    @if (Model.Languages.Count > 0)
                    {
                        @foreach (var language in Model.Languages)
                        {
                            <tr>
                                <th scope="row">
                                    <input type="checkbox" />
                                </th>

                                <td>@language.Name</td>
                                <td>@language.Code</td>
                                <td>@language.SortOrder</td>
                                <td>@language.Enabled</td>

                                <td>
                                    <a asp-page="Edit" asp-route-id="@language.Id" class="btn btn-primary">
                                        <i class="fa-solid fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td scope="row" colspan="6" class="text-center">@Model.Localizer["No result"]</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
