@page
@model IndexModel

<div class="header">
    <div class="float-end">
        <button id="@JavascriptVariables.Instance.AddLanguageButtonId" type="button" class="btn btn-primary">
            <i class="fa-solid fa-plus"></i>
        </button>

        <button class="btn btn-danger" type="submit" form="languages">
            <i class="fa-solid fa-trash-can"></i>
        </button>
    </div>

    <h1>@Model.Localizer["Heading title"]</h1>

    <partial name="_Breadcrumbs" for="Breadcrumbs" />
</div>

<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <form id="languages" class="table-responsive" method="post">
            <table class="table table-hover align-middle">
                <thead>
                    <tr>
                        <th scope="col">
                            <input id="@JavascriptVariables.Instance.MainCheckboxId" class="form-check-input" type="checkbox" />
                        </th>

                        <th scope="col">
                            <a asp-route-sort="@nameof(LanguageView.Name)">@Html.DisplayNameForInnerType((LanguageView l) => l.Name)</a>
                        </th>

                        <th scope="col">
                            <a asp-route-sort="@nameof(LanguageView.Code)">@Html.DisplayNameForInnerType((LanguageView l) => l.Code)</a>
                        </th>

                        <th scope="col">
                            <a asp-route-sort="@nameof(LanguageView.SortOrder)">@Html.DisplayNameForInnerType((LanguageView l) => l.SortOrder)</a>
                        </th>

                        <th scope="col">
                            <a asp-route-sort="@nameof(LanguageView.Enabled)">@Html.DisplayNameForInnerType((LanguageView l) => l.Enabled)</a>
                        </th>

                        <th scope="col">@Model.Localizer["Action"]</th>
                    </tr>
                </thead>

                <tbody id="@JavascriptVariables.Instance.ListParentId">
                    <tr>
                        <td scope="row" colspan="6" class="text-center">
                            <i class="fa-solid fa-spinner fa-spin fa-xl m-3"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>


<div class="modal fade" id="@JavascriptVariables.Instance.ModalId" tabindex="-1" aria-labelledby="createTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="@JavascriptVariables.Instance.ModalTitleId" class="modal-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="@Model.CommonLocalizer["Close"]"></button>
            </div>
            <div id="@JavascriptVariables.Instance.ModalContentId" class="modal-body text-center">
                <i class="fa-solid fa-spinner fa-spin fa-2xl m-5"></i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Model.CommonLocalizer["Close"]</button>
                <button type="submit" form="@JavascriptVariables.Instance.FormId" class="btn btn-primary">@Model.CommonLocalizer["Save"]</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/lib/popper.js/umd/popper.min.js" asp-append-version="true"></script>
    <script src="~/Areas/Admin/Pages/Localization/Language/Index.cshtml.js" asp-append-version="true"></script>

    <script>
        const variables = @Html.Raw(JavascriptVariables.Serialize());
        const addText = "@Model.Localizer["Add"]";
        const editText = "@Model.Localizer["Edit"]";
    </script>
}
