@if (socials is not null)
{
        <ul class="social no-default">
            @foreach (var item in socials)
            {
                <li>
                    <a href="@item.Url" target="_blank" title="@item.Title">
                        <img class="social__icon" src="@(SocialIconsPath + item.Icon)" width="@item.Width" height="@item.Height" alt="@item.Title" />
                    </a>
                </li>
            }
        </ul>
}
else
{
    <Loading />
}
