@layout IndexLayout

@if (_project is not null)
{
    <PageTitle>@_project.Name | Led Ice</PageTitle>

    <HeadContent>
        <meta name="description" content="@_project.Description" />

        <link rel="canonical" href="@Navigation.Uri" />

        <meta property="og:title" content="@_project.Name" />
        <meta property="og:description" content="@_project.Description" />
        <meta property="og:url" content="@Navigation.Uri" />


            <meta property="og:type" content="article" />
            <meta property="og:article:published_time" content="@_project.PublishedTime" />
            <meta property="og:article:modified_time" content="@_project.ModifiedTime" />

            <meta property="og:image" content="@_project.Image" />
            <meta property="og:image:secure_url" content="@_project.Image" />
        <meta property="og:locale:" content="ru_RU" />
    </HeadContent>
        
    <header>
        <div class="header-wrapper">
            @if (_project.Image is not null)
            {
                <img src="@_project.Image" alt="@_project.Name" />
            }

            <div class="header-content container">
                <Breadcrumbs Items=_breadcrumbs />
                <h1 id="title">@_project.Name</h1>
            </div>
        </div>
        <div class="header-bottom">
            <div class="header-bottom-wrapper container">
                <time class="property-label time">@_project.PublishedTime.ToShortDateString()</time>
                    
                @if (_project.Location is not null)
                {
                    <div class="city">@_project.Location</div>
                }

                <Share />
            </div>
        </div>
    </header>

    <div class="container">
        @if (_project.Description is not null)
        {
            <div class="project-description">
                @((MarkupString)_project.Description)
            </div>
        }

        @if (_project.Content is not null)
        {
            @((MarkupString)_project.Content)
        }

        @if (_project.Images is not null && _project.Images.Count > 0)
        {
            <section>
                <h2>Фотографии</h2>

                <ul class="row" style="list-style-type: none; padding:0;">
                    @foreach (var image in _project.Images)
                    {
                        <li class="col-lg-4 col-6">
                            <a href="@image.Url" data-lightbox="project">
                                <img class="responsive" style="border-radius:6px;" src="@image.Url" alt="@_project.Name" loading="lazy" />
                            </a>
                        </li>
                    }
                </ul>
            </section>
        }
    </div>
}
else 
{
    <Loading />
}
